.place__like-button_active {
  width: 22px;
  height: 19px;
  background-image: url(../../../../images/Like-button-black.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  box-sizing: border-box;
  background-color: #ffffff;
}