.profile__name-row {
  display: flex;
  align-items: baseline;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .profile__name-row {
    padding-left: calc(24px + 18px);
  }
}

@media screen and (max-width: 550px) {
  .profile__name-row {
    padding-left: calc(18px + 10px);
  }
}