.profile__info {
  margin: 0 0 0 30px;
  width: 100%;
  max-width: 336px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .profile__info {
    margin: 26px 0 0;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .profile__info {
    width: calc(100% - 19px*2);
  }
}